img {
    width: 100%;
    height: auto;
}
.fit {
    display: flex;
}
main {
    padding: 120px;
}
.center {
    text-align: center;
    font-size: 180px;

}
.p {
    text-align: center;
    font-size: 100px;
}
.responsive {
    width: 100%;
    height: auto;
}
video {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    height: auto;
}
body {
    background-color: rgb(210, 214, 171);
}
.description{
    text-align: center;
    font-size: 50px;
}